@font-face {
    font-family: 'poppinsb';
    src: url(../Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'poppinsr';
    src: url(../Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'poppinst';
    src: url(../Poppins/Poppins-Thin.ttf);
}


html{
    font-family: 'poppinsr' ;
    background: #f9fafc;
    background-size: cover;
    margin: 0;
    overflow:scroll;
    overflow-x: hidden;
}
body{
    font-family: 'poppinsr' ;
    margin: 0;
}
nav{
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 60px;
    background: #222831;
    
    transition: 0.5s all;
}
.turu{
    height: 60px;
}
nav li{
    cursor: pointer;
    color: white;
}
.navli li:hover{
    color: #FF5722;
}

nav h1{
    font-family: 'poppinsb';
    margin: 0 30px 0 0;
    font-size: 40px;
    color: white;
    cursor: pointer;
}
.navli{
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.navli li{
    list-style: none;
    font-family: 'poppinsr';
    padding: 18px 12px;
    
}
nav ul{
    
    display: flex;
    margin: 0;
}

.navliend{
    padding: 0;
}
.navliend li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 60px;
    list-style: none;
    font-family: 'poppinsb';
    font-size: 15px;
    color: white;
}
.slider{
    margin: 10px;
    width: fit-content;
    height: fit-content;
    display: none;
    flex-direction: column;
}
.slider hr{
    transform: translate(0,0) rotate(0deg);
    transition: 0.5s all;
    margin: 6px;
    width: 36px;
    height: 5px;
    border-radius: 5px;
    background-color: white;
}
#slidernav{
    transition: 0.5s;
    display: none;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    justify-content: end;
}
#slidernav ul{
    transition: 0.5s all;
    transform: translate(500px, 0);
    margin: 0;
    background-color: #FF5722;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#slidernav li{
    padding: 30px 10px 30px 10px;
    color: white;
    cursor: pointer;
    text-align: center;
    list-style: none;
    font-size: 30px;
}
#masuk{
    transition: 0.5s;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    justify-content: center;
}
#masuk ul{
    border-radius: 20px;
    width: 80%;
    transition: 0.5s all;
    transform: translate(0, 0);
    margin: 65px 0;
    background-color: white;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#masuk h1{
    font-family: 'poppinsb';
    margin: 0 0 0 0;
}
#masuk h3{
    margin: 0;
    font-size: 30px;
    font-family: 'poppinst';
}
#logs h3{
    margin: 0;
    font-size: 30px;
    font-family: 'poppinsb';
}
#masuk h4{
    font-size: 20px;
    font-family: 'poppinst';
    margin: 0 20px;
}
#masuk li{
    margin: 0;
    color: #2D4059;
    cursor: default;
    text-align: center;
    list-style: none;
    font-size: 30px;
}
#masuk hr{
    width: 200px;
    height: 1px;
    background-color: #2D4059;
}
#masuk img{
    width: 40px;
    margin: 10px 20px;
}
#silang{
    transform: translate(0,-260px); 
    position: absolute;
}
.pass{
    margin: 10px 0;
    font-size: 20px;
    background-color:#f9fafc;
    border: 1px solid gray;
    width: 300px;
    height: 50px;
    outline: none;
    border-radius: 5px;
}
.pass::placeholder{
    color: gainsboro;
}
#logs{
    color: white;
    margin: 10px;
    width: 200px;
    border-radius: 10px;
    background-color: #FF5722;
}
/* Nav */
/* Filter */
.blak{
    width: 320px;
    height: 100%;
    position: fixed;
    background-color: #222831;
}
.blaks{
    display: none;
    z-index: 97;
    width: 100%;
    height: 250px;
    position: fixed;
    background-color: #222831;
}
.filteram{
    z-index: 98;
    background-color: white;
    width: 300px;
    height: 90%;
    margin: 60px 0 0 10px;
    overflow-y: scroll;
    border: 4px solid #222831;
    border-radius: 5px;
}
.filterin{
    
    width: 280px;
    height: 1000px;
    margin: 0;
}
.filterin h1{
    font-family: 'poppinsb';
    font-size: 20px;
    margin: 0 0 0 10px;
}
.filterin input{
    width: 240px;
    height: 30px;
    outline: none;
    border-radius: 10px;
    border: 3px solid #222831;
}
.filterin input::placeholder{
    font-family: 'poppinsr';
}
.filterbar{
    border-radius: 0 0 2vh 2vh;
    border-top: none;
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
}
.filterbar hr{
    width: 250px;
    height: 2px;
    background-color: #222831;
}
.lokasi{
    border-radius: 10px;
    border: 3px solid #222831;
    background-color: white;
    text-align: center;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    font-family: 'poppinsb';
    width: 250px;
    height: 35px;
    outline: none;
    cursor: pointer;
    direction: rtl;
}
.lokasi option{
    background-color: white;
    transition: 0.5s all;
}
.lokasi option:hover{
    color: white;
    background-color: #323232;
}
.sats{
    margin-top: 10px;
    width: 250px;
    height: 35px;
}
.cari{
    cursor: pointer;
    background-color: #FF5722;
    margin-top: 10px;
    width: 250px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.cari h2{
    margin: 0;
    font-size: 15px;
    color: white;
}
.btn h2{
    margin: 0;
    font-size: 15px;
}
.btns h2{
    margin: 0;
    font-size: 17px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
}
.btn label{
    width: 100px;
    display: flex;
    border: 2px solid;
    color: black;
    flex-direction:column ;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}
input[type="radio"]:checked+label{
    background-color: #FF5722;
    color: white;
    border: 2px solid;
}
input[type="checkbox"]:checked+label{
    background-color: black;
    color: white;
    border: 2px solid;
}
.btn input{
    display: none;
}
.btns{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.btns label{
    width: 20px;
    height: 20px;
    display: flex;
    border: 2px solid;
    color: black;
    flex-direction:column ;
    align-items: center;
    margin: 0 5px 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btns input{
    display: none;
}
/* Lowongan */

.lowongan{
    position: initial;
    width:auto;
    height: fit-content;
    background-color: rgb(241, 241, 241);
    padding: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 300px;
}
.lowongan img{
    display: inline;
}
.lowonganbox{
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    margin: 50px 10px 0 10px;
    position: relative;
    background-color: white;
    width: 300px;
    height: 240px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.imglow{
    background-color: white;
    width: 75px;
    height: 75px;
    margin: -40px auto 25px auto;
    border-radius: 10px;
    font-family: 'poppinst';
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 5px;
}
.imglow img{
    width: 100%;
    height: auto;
}
.lowbox{
    display: flex; 
    margin: 0; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lowbox h3{
    font-family: 'poppinsr';
    margin: 0; 
    color: #2D4059;
}
.lowbox h5{
    font-family: 'poppinst';
    margin: 0; 
}
.lowbox hr{
    background-color: #2D4059;
    height: 1px;
    width: 220px;
    margin: 15px 0 0 0;
}
.tablowongan{
    position: absolute;
    left: 0;
    right: 0;
    white-space: nowrap;
}
.lowonganuts{
    position: relative;
    height: 340px;
    overflow-x: scroll;
    transition: 1s all;
}
.nom{
    width: 30px;
    height: 30px ;
    background-color: #f9fafc;
    margin: 50px 10px 10px 10px;
    border: 1px solid #222831;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.foota{
    font-family: 'poppinst';
    display: flex;
     width: 100%;
}
.juds{
    margin-top: 20px
}
.juda{
    display: none;
}
.juda img{
    margin-left: 135px;
    width: 25px;
    height: auto;
}



a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

@media only screen and (max-width: 1060px) {
    #masuk hr{
        display: none;
    }

    nav li{ display: none !important;
    }
    .slider{
        display: inline;
    }
    .navliend li{
        padding: 0;
    }
    .filterbar{
        display: flex;
        flex-direction: column;
    }
    #slidernav li{
        font-size: 20px;
    }

  }
  @media only screen and (max-width: 780px) {
    .filterin input{
        display: none;
    }
    .juds{
        display: none;
        margin: 60px 0 0 10px;
        font-size: 30px;
        font-family: 'poppinsb';
    }
    .juda{
        display:block;
    }
    .pass{
        width: 240px;
    }
    .lowongan{
        padding: 250px 10px 0 10px;
        margin-left: 0;
    }
    .lowonganbox{
        width: 250px;
    }
    .blaks{
        display: block;
        background-color: #f9fafc;
    }
    .blaks input{
            width: 80%;
            font-size: 15px;
            height:50px;
            outline: none;
            border-radius: 10px;
            border: 3px solid #222831;
            margin: 70px 0 0 0;
    }
    .blaks input::placeholder{
        font-size: 15px;
        font-family: 'poppinsr';
    }
    .blak{
        display: none;
        background-color: #f9fafc;
        width: 96%;
        height: 90%;
        z-index: 8;
    }
    
    .foots{
        display: flex; 
        flex-direction: column;
        height: fit-content;
    }
    .filteram{
        justify-content: center;
        width: 100%;
        height: 100%;
        display: flex;
        margin: 60px 0 0 0;
    }
    .filterbar hr{
        width: 240px;
    }
    .lokasi{
        width: 240px;
        
    }
    .sats{
        width: 240px;
        height:50px;
    }
    .cari{
        display: none;
        width: 240px;
        height: 35px;
    }
    .cars{
        font-size: 10px;
    cursor: pointer;
    background-color: #FF5722;
    margin-top: 10px;
    width: 80%;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    }
  }
  @media only screen and (max-height: 700px){
    .tutor h3{
        font-size: 15px;
    }
    
    #masuk h1{
        font-family: 'poppinsb';
        margin: 0 0 0 0;
        font-size: 35px;
    }
    #masuk h3{
        margin: 0;
        font-size: 30px;
        font-family: 'poppinst';
    }
    #logs h3{
        margin: 0;
        font-size: 25px;
        font-family: 'poppinsb';
    }
    #masuk h4{
        font-size: 20px;
        font-family: 'poppinst';
        margin: 0 20px;
    }
    #silang{
        transform: translate(0,-220px); 
        position: absolute;
    }
  }